
.ArticleBody .ContentImage {
    text-align: center;
}
.ArticleBody .imgSubline {
    text-align: left;
}
.ArticleBody .imgSublineLandscape {
    text-align: left;
}

.BillboardAd {
    padding: 0 12px;
    margin:0;
}

#ContentAd > div {
    clear: both;
}

.SocialMedia .kommentar {
    display: none;
}

.mzKarten {float:left}
.mzKartenPreloadImg {position:absolute;z-index:999;text-align: center;}
.mzKartenPreloadImg .helper {display: inline-block;height: 100%;vertical-align: middle;}
.mzKartenPreloadImg img {vertical-align: middle; float:none;margin:0}

.Col2BoxContent > .RubrikHead  .RubrikName {
    font-size: 18px;
    font-family: 'Helvetica W01 Bold',Helvetica,Arial,Sans-Serif;
}


.EmbeddedModule.Html .twitter-follow-button {
    width: auto !important;
}

.NewsAggregatorTileSmall {
    height: auto;
}


.LivetickerBox.big {
    height: 490px;
    width: 808px;
    padding: 12px;
}
.LivetickerBox {
    background: -moz-linear-gradient(center top , #1A547C 0%, #194767 100%) repeat scroll 0% 0% transparent;
    color: #fff;
    margin: 12px 0 0;
    padding-bottom: 15px;
    width: 480px;
}

.LivetickerBox.big .Head {
    font-family: "Helvetica W01 Bold",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 26px;
    height: 50px;
    line-height: 40px;
    overflow: hidden;
}
.LivetickerBox a.Head {
    color: #fff;
    display: block;
    font-family: "Helvetica W01 Bold",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 22px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}

.LivetickerBox ul.Linklist {
    background: none repeat scroll 0 0 #fff;
    height: 26px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.LivetickerBox ul.Linklist li {
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.LivetickerBox ul.Linklist li a, .LivetickerBox ul.Linklist li.Pipe {
    color: #004c8b;
    display: block;
    font-family: "Helvetica W01 Bold",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}

.LivetickerBox.big .ArticleLandscapeImage {
    float: left;
    margin: 12px 0 0;
}
.LivetickerBox .ArticleLandscapeImage {
    width: 480px;
}

.LivetickerBox .ArticleLandscapeImage .ContentImage {
    margin: 0 !important;
    padding: 0 !important;
}
.LivetickerBox .ArticleLandscapeImage .ContentImage img {
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
}
.LivetickerBox .BigTeaser {
    margin-top: 12px;
}
.LivetickerBox .ItemHeadline3 {
    float: none;
    margin-bottom: 0;
}
.LivetickerBox .ItemHeadline3 a {
    color: #fff;
}
.LivetickerBox h2 {
    margin: 3px 0;
}
.LivetickerBox.big h2 a {
    font-size: 22px;
}
.LivetickerBox h2 a {
    color: #fff;
    font-size: 20px;
}
.LivetickerBox p {
    font-size: 13px;
    line-height: 19px;
    margin: 5px 0 0;
}
.LivetickerBox .SmallTeaserBigBox {
    float: left;
    height: 200px;
    margin: 12px 0 0 12px;
    width: 152px;
}
.LivetickerBox.big .SmallTeaserBigBox h2 {
    line-height: 14px;
}
.LivetickerBox.big .SmallTeaserBigBox h2 a {
    font-size: 12px;
}

#ContainerContent .ad-location-container {
  margin:0;
  padding: 0 0 18px;
}